.leaderboard-container {
  margin: 20px;
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

.leaderboard-heading {
  color: white; 
}
.leaderboard-table th,
.leaderboard-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.leaderboard-table th {
  background-color: transparent;
}

.leaderboard-table tr:nth-child(even) {
  background-color: transparent;
}

.leaderboard-table tr:hover {
  background-color: transparent;
}
