.login-container {
  max-width: 400px;
  margin: 0 auto;
}

.input-field {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.button {
  width: 100%;
  padding: 0.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
}

h2 {
  color: white;
}

p {
  color: white
}

.button:hover {
  background-color: #0056b3;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
}

.login-form {
  margin-bottom: 1rem;
}

.login-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.login-button {
  width: 100%;
  padding: 0.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
}

.login-button:hover {
  background-color: #0056b3;
}

.register-link {
  margin-top: 1rem;
  text-align: center;
  color: white;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

