.register-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .input-field {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .button {
    width: 100%;
    padding: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .link {
    color: #007bff;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .center {
    text-align: center;
    
  }
  